Meta-Llama3.1-8B-Instruct/checklist.chk
Meta-Llama3.1-8B-Instruct/config.json
Meta-Llama3.1-8B-Instruct/consolidated.00.pth
Meta-Llama3.1-8B-Instruct/params.json
Meta-Llama3.1-8B-Instruct/tokenizer.model